body {
    background-color: white;
    background-image: radial-gradient(circle, black 1px, transparent 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.pokeball {
    height: 50vmin;
    width: 50vmin;
    border-radius: 50%;
    background-color: red;
    border: 3.75vmin solid black;
    background-image:
        radial-gradient(white 20%, white 20%, black 20%, black 30%, transparent 30%, transparent),
        linear-gradient(red 46%, black 46%, black 54%, white 54%);
    transform: rotate(-15deg);
    opacity: 0.6;



    -webkit-mask:
        radial-gradient(circle, transparent 15%, black 16%);
    mask:
        radial-gradient(circle, transparent 15%, black 16%);
}*/

.pokeball {
    height: 80vmin;
    width: 80vmin;
    border-radius: 50%;
    border: 3.75vmin solid black;
    transform: rotate(-15deg);
    background-image:
        radial-gradient(rgba(255, 255, 255, 0.6) 20%,
            rgba(255, 255, 255, 0.6) 20%,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 30%,
            transparent 30%,
            transparent),
        linear-gradient(rgba(255, 0, 0, 0.6) 46%,
            black 46%,
            black 54%,
            rgba(255, 255, 255, 0.6) 54%);
    -webkit-mask:
        radial-gradient(circle, transparent 17%, black 19%);
    mask:
        radial-gradient(circle, transparent 17%, black 19%);
    box-shadow: 0 2vmin 4vmin rgba(0, 0, 0, 0.25);
    filter: drop-shadow(2vmin 2vmin 4vmin rgba(0,0,0,0.25))
            drop-shadow(4vmin 4vmin 8vmin rgba(0,0,0,0.15));
}




